.versjon {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    background: var(--color-code-background);
    color: var(--color-code-foreground);
    transition: background-color 0.1s linear;
}

.versjon:hover {
    background-color: var(--color-highlighted-background);
}

.versjon:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.versjon:active:after {
    content: "\2212";
}

.versjon-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.versjon-content-inner {
    padding: 10px 18px
}

#versjon-overlay {
    position: fixed;
    z-index: 100;
    bottom: 0px;
    right: 0px;
    width: 250px;
    background: var(--color-code-background);
    max-height: 100%;
    overflow: scroll;
}

p.versjon-old-warning {
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 4px;

    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    text-align: center;

    background: #d40 repeating-linear-gradient(135deg,
            transparent,
            transparent 56px,
            rgba(255, 255, 255, 0.2) 56px,
            rgba(255, 255, 255, 0.2) 112px);
}

p.versjon-old-warning a {
    color: #fff;
    border-color: #fff;
}

p.versjon-dev-warning {
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 4px;

    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    text-align: center;

    background: #E67300 repeating-linear-gradient(135deg,
            transparent,
            transparent 56px,
            rgba(255, 255, 255, 0.2) 56px,
            rgba(255, 255, 255, 0.2) 112px);
}

p.versjon-dev-warning a {
    color: #fff;
    border-color: #fff;
}

#branch-icon {
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
}
